name: Release

on:
  # TODO(lasuillard): For testing; revert when ready to publish to PyPI
  push:
    branches:
      - X-maturin-publish-to-pypi
  # push:
  #   branches:
  #     - main
  #   tags:
  #     - v*

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-latest
            target: x86_64

    name: Build (${{ matrix.target }})
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust
        run: |
          rustup show

      - name: Manage Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist

      - name: Upload wheels as artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.target }}
          path: dist

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    # TODO(lasuillard): For testing; revert when ready to publish to PyPI
    # if: startsWith(github.ref, 'refs/tags/v')
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - name: Download binary artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Show artifacts
        run: ls -l --all --recursive dist

      # TODO(lasuillard): For testing; revert when ready to publish to PyPI
      # - name: Create release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     generate_release_notes: true
      #     files: dist/dist-*/devobs-*

  publish-pypi:
    name: Publish to PyPI
    needs: release
    runs-on: ubuntu-latest
    environment: pypi
    timeout-minutes: 5
    permissions:
      id-token: write
    steps:
      - name: Download binary artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Show artifacts
        run: ls -l --all --recursive dist

      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        with:
          command: upload
          # TODO(lasuillard): For testing; change it to PyPI when ready
          args: --non-interactive --skip-existing --repository-url https://test.pypi.org/legacy/ dist-*/*
